/* 文字折り返し設定 */
body {
  word-wrap: break-word;
}

/* ヘッダー */
header {
  height: 270px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #03243d;
  /* ヘッダーが他の要素の上に表示されるようにする */
}

  /* ヘッダーの高さ分だけコンテンツを下にずらす */

.icon {
  width: 150px;
}

/* テーブル内の文字を上下中央寄せ */
table td {
  vertical-align: middle;
  font-size: 20px;
}

h2 {
  font-size: 23px;
}

.wrapper {
  max-width: 1200px;
  /* 中央寄せにする */
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}

main {
  padding: 10px;
  background-color: #344E62;
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
}

.purple {
  background-color: #9370db;
}

body {
  background-color: #03243d;
}

/* 画像を2列に並べる
  #box {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
  }
  画像と文字の間隔を埋める
  #box img {
    vertical-align: bottom;
  }
  #license {
    margin-bottom: 80px;
  }
  
 */
.hr {
  border-bottom: 1px solid #848484;
}

footer {
  text-align: center;
  color: #848484;
  margin-bottom: 10px;
  padding-top: 10px;
}

.button-bottom {
  margin-right: 10px;
  width: 150px;
  height: 80px;
}

.button-shiryou {
  border-radius: 40px;
  width: 400px;
  height: 70px;
}

/* メニュー */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.inner {
  width: 40%;
}

.menu {
  width: 100%;
  display: flex;
}

.menu__name {
  position: relative;
  width: 50%;
  padding: 15px 0;
  background-color: green;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
}

.drop-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
}

.drop-menu__name {
  width: 100%;
}

.drop-menu__name a {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: green;
  border: solid 1px #fff;
  text-align: center;
  transition: 0.3s;
}

.drop-menu__name a:hover {
  opacity: 0.5;
}

.drop-menu__img {
  width: 50%;
  margin: 0 auto;
}

.drop-menu__img img {
  width: 100%;
}




footer p {
  text-align: center;
}



@media (max-width: 600px) {
  .menu {
    font-size: 9px;
  }

  .button-bottom {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .button-r {
    font-size: 12px;
  }

  .mb-r {
    margin-bottom: 4px;
  }



  /* ボタンを縦並びにする */
  .tate {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tate-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ボタンの大きさやmargin,paddingを元に戻す */
  .button-shiryou {
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 5px;
  }


  .icon {
    width: 130px;
  }

  header {
    height: 190px;
  }

  p {
    font-size: 20px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  /* メニュー */
  .inner {
    width: 100%;
  }

  footer {
    color: white;
  }

}